[submodule "fetcher"]
	path = fetcher
	url = https://github.com/NataliaGuer/crawler-fetcher.git
[submodule "crawler-broker"]
	path = crawler-broker
	url = https://github.com/NataliaGuer/crawler-broker.git
[submodule "crawler-view"]
	path = crawler-view
	url = https://github.com/NataliaGuer/crawler-view.git
[submodule "crawler-api"]
	path = crawler-api
	url = https://github.com/NataliaGuer/crawler-api.git
