[submodule "fetcher"]
	path = fetcher
	url = https://github.com/NataliaGuer/crawler-fetcher.git
[submodule "crawler-broker"]
	path = crawler-broker
	url = https://github.com/NataliaGuer/crawler-broker.git
